<h2>担当者一覧</h2>

<table>
    <thead>
        <tr>
            <th>担当者</th>
        </tr>
    </thead>
    
    <tbody>
        <% @persons.each do |person| %>
            <tr>
                <td><%= person.name %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<p><%= link_to '担当者を追加する', new_person_path %></p>