/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@media screen and (min-width: 500px){
  .width_10{
    width:10px;
  }  
  
  .width_30{
    width:30px;
  }
  
  .width_40{
    width:40px;
  }
  
  .width_50{
    width:50px;
  }
  
  .width_200{
    width: 200px;
  }
  
  .width_task{
    width: 200px;
  }
  
  #tasks_calender {
    table-layout: fixed;
    width:1200px;
  }
  
  #routine_calender {
    table-layout: fixed;
    width:1590px;
  }
  
}

  .emp {
    background-color:#EB7988; 
    color:#FFFFFF;
  }
  
  .today {
    background-color:#A2DBA8; 
    color:#FFFFFF;
  }

  .logo{
      width: 400px;
      height: 200px;
  }
  
  table {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-collapse: collapse;
    text-align: center;
    width: auto;
  }
  
  table th,
  table td {
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 10px;
  }
  table th {
    background-color: #eee;
  }
  
  .edit {
    background-color: #eee;
  }

@media screen and (max-width:500px){
  .logo{
  width: 100%;
  height: auto;
  }
  
  table.responsive {
    display: block;
    position: relative;
    table-layout: auto
  }
  
  table.responsive thead {
    display: block;
    float: left;
  }
  table.responsive tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  table.responsive th,
  table.responsive td {
    height: 30px;
    display: block;
  }
  table.responsive tr {
    display: inline-block;
  }
  table.responsive tbody tr {
    margin-right: -5px;
  }

  .scroll{
  overflow: auto;　　　　/*tableをスクロールさせる*/
  white-space: nowrap;　　/*tableのセル内にある文字の折り返しを禁止*/
  }
  .scroll::-webkit-scrollbar{　　/*tableにスクロールバーを追加*/
   height: 5px;
  }
  .scroll::-webkit-scrollbar-track{　　/*tableにスクロールバーを追加*/
   background: #F1F1F1;
  }
  .scroll::-webkit-scrollbar-thumb {　　/*tableにスクロールバーを追加*/
   background: #BCBCBC;
  }
  
  #routine_calender{
    table-layout: fixed;
    width:3000px;
  }
  
  .width_task{
    width: 100px;
  }
}
