<h2>カテゴリー一覧</h2>

<table>
    <thead>
        <tr>
            <th></th>
            <th>カテゴリー</th>
        </tr>
    </thead>
    
    <tbody>
        <% @categories.each do |category| %>
            <tr>
                <td><%= link_to '編集', edit_category_path(category) %></td>
                <td><%= category.name %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<p><%= link_to 'カテゴリーを追加する', new_category_path %></p>